<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
    <ion-buttons slot="end" (click)="deletePlace()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="place.imgUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{place.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="place.coments && place.coments.length > 0">
          <ion-item *ngFor="let coment of place.coments">
            {{coment}}
          </ion-item>
        </ion-list>
        <ng-container #noComents>
          <ion-text>
            <p class="ion-text-center">No hay comentarios</p>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
