<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hola Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let photo of photos">
      <ion-img [src]="photo.thumbnailUrl"></ion-img>
      <ion-card-content>
        <p>{{photo.title}}</p>
        <p>{{photo.albumId}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
